@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Raleway", sans-serif;
}

.appStyle{
  background-color: rgb(21, 21, 21);
  color: rgb(232, 232, 232);
  border: 1px solid black;
  border-radius: 40px;
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  /*&-clock, &-dateTime, &-countdown, &-stopWatch{
    margin: 15px;
    border: 1px solid rgb(252, 151, 0);
    background-color: rgb(68, 67, 67);
    border-radius: 20px;
    width: 300px;
  }*/
}

.appStyle-dateTime{
  font-size: 20px;
}


